#################################################
### props used by escli.bash
#################################################

##### Examples

#--- plain text ----------------------------------#
# usernameCmd='echo someusername'
# passwordCmd='echo somepassword'

#--- lastpass (lpass cli) ------------------------#
# usernameCmd='lpass show --username example.com'
# passwordCmd='lpass show --password example.com'

usernameCmd='lpass show --username somedom.com'
passwordCmd='lpass show --password somedom.com'

esBaseUrl="https://es-data-01a.${env}.somedom.com:9200"
contType="Content-Type: application/json"
